/* body */
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Arial, sans-serif;
        background-color: black;
    }


/* bars */
    #barSection {
        width: 100%;
        background-color: #2a2a2a;
        background-image: linear-gradient(to bottom, #1f1f1f, #2a2a2a);
        padding-top: 2rem;
    }

    #barContainer {
        display: flex;
        align-items: flex-end;
        height: 70vh;
        width: 90%;
        margin-left: 5%;
    }
    .bar {
        height: 100%;
        margin: 0 1px;
        background-image: linear-gradient(to bottom, #ffffff, #000000);
        flex: 1;
    }
    .sortedBar {
        background-color: #00005b;
        background-image: linear-gradient(to bottom, #0000c2, #000000);
    }
    .activeBar {
        background-image: none;
        background-color: red;
    }
    .pivotBar {
        background-image: none;
        background-color: red;
    }
    .leftArray {
        background-color: none;
    }
    .rightArray {
        background-color: none;
    }



/* controls */
    #controls {
      display: inline-block;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #000000;
      padding-top: 1.7rem;
    }
    #buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    button {
      margin: 5px;
      padding: 15px 20px;
      font-size: 1em;
      background-color: #00005b;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background-image: linear-gradient(to right, #00004d, #00007f);
    }
    button[disabled] { /* hide hover effect on buttons that you cant click on (algo buttons when another algo is running) */
      pointer-events: none;
      opacity: .2;
    }
    button:hover {
      background-color: #00005b5d;
      background-image: none;
    }

    .row1 {
        display: inline-flex;
    }

    #sliders {
      color: #fff; /* text color */
      margin-top: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #size {
      margin-left: 1em;
      margin-right: .75em;
      padding-left: 0;
    }
    #speed {
      margin-right: 1em;
      margin-left: .75em;
      padding-left: 0;
    }
    #sizeSlider, #speedSlider {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      align-self: center;
      height: 3px;
      border-radius: 0px;
      background: #cacaca;
      background-image: linear-gradient(to right, #7a7a7a, #e7e7e7);
      width: 16em; /* this makes the slider bars longer */
      margin-bottom: 10px;
    }
    #sizeSlider::-webkit-slider-thumb, #speedSlider::-webkit-slider-thumb { /* WebKit (Safari, Chrome) */
      -webkit-appearance: none;
      appearance: none;
      width: 9px;
      height: 23px;
      border-radius: 0%;
      background: /* #00005b */ white;
      cursor: pointer;
    }
    #sizeSlider::-moz-range-thumb, #speedSlider::-moz-range-thumb { /* Firefox */
      appearance: none;
      width: 9px;
      height: 23px;
      border-radius: 0%;
      background: #691eff;
      cursor: pointer;
    }
    .sizeLabel, .speedLabel {
      width: 100%;
      text-align: center;
    }
    #sizeValueDisplay, #speedValueDisplay {
      padding-left: 3px;
    }

/* info section */
#infoSection {
    width: 100%;
    background-image: linear-gradient(to bottom, #000000, #585858);
    padding-bottom: 2rem;
}

.infoSectionContent {
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;  

}

.infoSectionWords {
    width: 62%;
    margin-right: 5%;
}
.infoSectionTable {
    width: 33%;
}

.infoSectionContent p {
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    font-size: 1.5rem;
}
table .leftCol {
    border-right: #00007f 3px solid;
    padding-right: .5rem;
}
.nonBottomRow {
    border-bottom: #00007f 3px solid;
}
table .rightCol {
    padding-left: .5rem;
}
td {
    padding-top: .4rem;
    padding-bottom: .4rem;
}

#infoSectionBubble, #infoSectionSelection, #infoSectionInsertion, #infoSectionQuick, #infoSectionMerge, #infoSectionHeap {
    display: none;
}

#infoSectionHome {
    max-width: 1000px;
    margin: auto;
    overflow: none;
}